.prev-orders-button, .fav-orders-button {
    width: 15em;
    display: inline-block;
    border: 1px solid blue;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 5px;
    margin-top: 2em;
}

.fav-orders-button {
    margin-left: 2em;
}

.fa-reply {

}
