.prev-orders-button, .fav-orders-button {
    width: 15em;
    display: inline-block;
    border: 1px solid #bbb;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 5px;
    margin-top: 0em;

    &:hover {
        border: 1px solid #0088CC;
        cursor: pointer;
    }
}

.fav-orders-button {
    margin-left: 2em;
}

.fa-reply {

}
