.decaf-option {
    display: inline-block;
}

.decaf-input {
    margin-left: 0.5em;
}

.hot-or-cold-option {
    display: inline-block;
}

.hot-or-cold-option label {
    margin-left: 1em;
}

.hot-input, .cold-input {
    margin-left: 0.4em;
}

.add-to-order-wrap {
    position: absolute;
    display: inline-block;

    .add-to-order {
        color: #fff;
        margin-left: 1em;
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    .add-to-order-helper {
        display: inline;
        position: relative;
        bottom: 3em;
        left: -9em;
        margin-left: 2em;
        padding: 0.5em 1.1em 0.5em 1.1em;
        border: 1px solid #3FB083;
        background: #3FB083;
        color: #fff;
        border-radius: 6px;
    }

    .add-to-order-arrow {
            width: 0;
            height: 0;
            position: relative;
            bottom: 3em;
            left: 0.3em;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #3FB083;
    }

    .add-item-icon {
        color: #3FB083;
    }
}
