.decaf-option {
    display: inline-block;
}

.decaf-input {
    margin-left: 0.5em;
}

.hot-or-cold-option {
    display: inline-block;
}

.hot-or-cold-option label {
    margin-left: 1em;
}

.hot-input, .cold-input {
    margin-left: 0.4em;
}

.add-to-order-wrap {
    position: absolute;
    display: inline-block;

    .add-to-order {
        color: #fff;
        background: #3FB083;
        margin-left: 1em;
        display: inline-block;
        border-radius: 3px;
        font-size: 0.8em;
        padding: 0.3em 0.5em 0.3em 0.5em;

        &:hover {
            cursor: pointer;
            background: lighten(#3FB083, 7%);
        }
    }


}
