.ba-view-container {
    width: 100%;
    border: 5px solid red;
    height: 100%;

    .ba-view-wrap {
        width: 960px;
        margin: 0 auto;
        border: 5px solid green;
        height: 100%;

        
    }
}
