.method-of-trans {
    // border: 1px solid blue;
    // display: inline-block;
    // width: 32%;
    // height: 10em;
    // border-radius: 5px;
    padding-right: 2em;
}

.method-of-trans p {
    padding-top: 3.5em;
}

.method-of-trans-container {
    text-align: center;
    padding: 0.75em 0.75em 1em 0.75em;
    border: 1px solid #E4E4E4;
    width: 90%;
    border-radius: 3px;
    margin: 0 auto 1em auto;

    h2 {
        font-size: 1.2em;
    }
}

.method-of-trans-container > h2 {
    text-align: left;
}
