.hide {
    display: none;
}

.loading-icon {
    margin-top: 0em;
    text-align: center;
}

.userProgress {
    position: relative;
    width: 50%;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

#oneOfFive {
    position: absolute;
    width: 20%;
    height: 100%;
    background: #3FB083;
    border-radius: 5px 0px 0px 5px;
}
