.order-ready-time {
    font-size: 36px;
    text-align: center;
}

.order-ready-time-container h2 {
    margin-top: 0;
    text-align: center;
}

.order-ready-time-container p {
    text-align: center;
    font-size: 1.2em;
}
