.order-ready-time {
    font-size: 36px;
    text-align: center;
}

.order-ready-time-container {
    padding-top: 1em;
}

.order-ready-time-container h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.2em;
}

.order-ready-time-container p {
    text-align: center;
    font-size: 1em;
    margin: 0em 0em 0.8em 0em;
}

.method-of-trans-icon {
    text-align: center;
    margin-bottom: 1.75em;
}

.order-ready-time-divider {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #E4E4E4;
}
