.order-summary-container {
    margin: 0 auto;
    text-align: center;
}

.os-order-total-container {
    width: 50%;
    margin: 0 auto;
}

.order-summary-button {
    display: block;
    background: #3FB083;
    margin: 0 auto;

    &:hover {
        background: #43BB8B;
    }

}

.order-summary-edit-button {
    background: #f9d266;

    &:hover {
        background: lighten(#f9d266, 3%)
    }
}

.order-summary-link {
    text-decoration: none;
}
