.order-summary-container {
    margin: 0 auto;
    text-align: center;
}

.os-order-total-container {
    width: 50%;
    margin: 0 auto;
}

.order-summary-button {
    display: block;
    background: #3FB083;
    margin: 0 auto;

    &:hover {
        background: #43BB8B;
    }

}

.order-summary-edit-button {
    border: 2px solid #f9d266;
    background: #fff;
    color: #f9d266;

    &:hover {
        background: lighten(#f9d266, 3%);
        color: #fff;
    }
}

.order-summary-link {
    text-decoration: none;
}

.userProgress {
    position: relative;
    width: 50%;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

#fourOfFive {
    position: absolute;
    width: 80%;
    height: 100%;
    background: #3FB083;
    border-radius: 5px 0px 0px 5px;
}
