.landing-icon-wrap {

    .landing-icon {
        display: inline-block;
        width: 33%;
        text-align: center;
    }

    img {
        width: 60%;
    }

    h2 {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .username-wrap {
        width: 28em;
        margin: 3em auto 1em auto;
    }
}

@media only screen and (max-width: 635px) {
    .landing-icon-wrap {
        .landing-icon {
            display: block;
            width: 30%;
            margin: 0 auto;
        }

        img {
            width: 8em;
        }

        h2 {
            margin-bottom: 1.5em;
        }
    }
}

@media only screen and (max-width: 680px) {
    .landing-icon-3 {
        h2 {
            font-size: 1.4em;
        }
    }
}

@media only screen and (max-width: 599px) {
    .username-wrap {
        width: 90%;
        margin: 3em auto 1em auto;
    }
}


.title-cover-landing {
    // background-image: url("/img/coffee-cover1.jpg");
    background: #3879D9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3em;
    min-height: 6em;
    margin-bottom: 3em;

    h1 {
        color: #fff;
    }

    h2 {
        color: #fff;
        text-align: center;
    }

    form {
        text-align: center;
    }

    input[type="text"] {
        width: 12em;
        text-align: center;
        font-size: 1.4em;
        height: 1.5em;
        border-radius: 3px;
        border: 2px solid #E4E4E4;
        margin: 0.5em auto 0 auto;
        padding: 0.25em;
    }

    button {
        display: block;
        width: 8em;
        margin: 1.5em auto 0 auto;
        background: #3FB083;
        border: none;
        border-radius: 3px;
        padding: 0.9em 0.7em 0.9em 0.7em;
        color: #fff;
        font-size: 1.2em;

        &:hover {
            background: #43BB8B;
        }

        .fa-rocket {
            margin-right: 5px;
        }
    }

    a {
        text-decoration: none;
    }
}
