.prev-orders {
    border: 1px solid #E4E4E4;
    margin: 0 auto 1.2em auto;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 3px;

    h2 {
        border-bottom: 2px solid #E4E4E4;
        padding: 0em 0.5em 0.25em 0.5em;
        font-size: 1.2em;
    }

    p {
        padding: 0em 0.5em 0.25em 0.5em;
        margin: 0;
    }
}
