.favorite-orders-container {
    width: 90%;
    margin: 4em auto 0em auto;
    border-radius: 3px;
}

@media only screen and (min-width: 600px) {

    .favorite-orders-wrap {
        width: 28em;
        margin: 4em auto 2.5em auto;
    }
}

@media only screen and (min-width: 960px) {
    .favorite-orders-container {
        margin-top: 0em;
        margin-left: 5em;
    }
}
