.order-total-table td {
    padding: 0.4em 0.7em;
    border-bottom: 2px solid #E4E4E4;
    text-align: left;
}

.order-total-table tr {

}

tr.order-total-row {

    .delete-item {
        color: #E2514E;
        margin-left: 20px;
        display: none;
        cursor: pointer;
    }

    &:hover {

        .delete-item {
            display: inline-block;
        }
    }
}

.td-price {
    // width: 75px;
}
