.order-total-table td {
    padding: 0.75em 1.5em;
    border-bottom: 2px solid #E4E4E4;
}

.order-total-table tr {

}

tr.order-total-row {

    .delete-item {
        color: #D62214;
        margin-left: 20px;
        display: none;
        cursor: pointer;
    }

    &:hover {

        .delete-item {
            display: inline-block;
        }
    }
}

.td-price {
    width: 75px;
}
