.payment-info-section {
    padding: 0 0 1em 0;

    input {
        float: right;
    }

    select {
        float: right;
    }
}

@media only screen and (min-width: 600px) {
    .enter-payment-info-container {
        width: 28em;
        margin: 0 auto 1em auto;
    }

}

@media only screen and (max-width: 599px) {
    .enter-payment-info-container {
        width: 90%;
        margin: 0 auto 1em auto;
    }

}

.enter-payment-info-container {
    padding: 0.75em;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}
