.shop-details-container {
    padding: 1.75em 0em 1.75em 0em;
    text-align: center;
    border-bottom: 1px solid #E4E4E4;

    h2 {
        padding: 0 0.25em 0.5em 0.25em;
    }

    p {
    margin: 0.5em 0.25em 0.5em 0.25em;
    }
}
