#special-instructions {
    margin-bottom: 2em;

    textarea {
        border: 2px solid #E4E4E4;
        padding: 0.5em;
        width: 96%;
        font-size: 1.1em;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 600px) {
    #special-instructions {
        margin: 0 auto 2em auto;
        width: 28em;
    }
}
