.dashboard-container {
    margin-left: 5em;

    .start-button-wrap {
        display: block;
        text-align: center;
        margin: 2em auto 3em auto;

        button.start-button {
            background: #3FB083;
            margin: 0em;
            padding: 1.5em 3em;
            font-size: 1.75em;

            &:hover {
                background: lighten(#3FB083, 3%);
            }
        }

        .fa-coffee {
            margin-right: 0.35em;
        }
    }
}

.landing-icon-wrap {

    .landing-icon {
        display: inline-block;
        width: 33%;
        text-align: center;
    }

    img {
        width: 60%;
    }

    h2 {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .username-wrap {
        width: 28em;
        margin: 3em auto 1em auto;
    }

    .landing-icon-wrap {
        margin-bottom: 5em;
    }
}

@media only screen and (max-width: 635px) {
    .landing-icon-wrap {
        .landing-icon {
            display: block;
            width: 30%;
            margin: 0 auto;
        }

        img {
            width: 8em;
        }

        h2 {
            margin-bottom: 1.5em;
        }
    }
}

@media only screen and (max-width: 680px) {
    .landing-icon-3 {
        h2 {
            font-size: 1.4em;
        }
    }
}
