.dashboard-container {
    margin-left: 5em;

    .start-button-wrap {
        display: block;
        text-align: center;
        margin: 1em auto 3em auto;

        button.start-button {
            background: #3FB083;
            margin: 0em;
            padding: 1.5em 3em;
            font-size: 1.75em;

            &:hover {
                background: lighten(#3FB083, 3%);
            }
        }

        .fa-coffee {
            margin-right: 0.35em;
        }
    }

    .dashboard-divider {
        width: 70%;
        height: 2px;
        background: #BDBEC1;
        margin: 5em auto 0 auto;
    }

    h2.how-it-works {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.landing-icon-wrap {
    .landing-icon {
        display: block;
        width: 30%;
        margin: 0 auto;
    }

    img {
        width: 8em;
    }

    h2 {
        margin-bottom: 1.5em;
    }
}

.landing-icon-wrap {


}

@media only screen and (min-width: 685px) {

    .landing-icon-wrap {
        margin-bottom: 5em;

        .landing-icon {
            display: inline-block;
            width: 33%;
            text-align: center;

            img {
                width: 60%;
            }

            h2 {
                text-align: center;
            }
        }

        .landing-icon-3 {
            h2 {
                font-size: 1.4em;
            }
        }
    }
}

// @media only screen and (min-width: 762px) {
//     .landing-icon-wrap {
//         .landing-icon-3 {
//             h2 {
//                 font-size: 1.5em;
//             }
//         }
//     }
// }
