@media only screen and (min-width: 600px) {
    .select-if-favorite-container {
        width: 28em;
        margin: 0 auto 1em auto;
    }
}

@media only screen and (max-width: 599px) {
    .select-if-favorite-container {
        width: 90%;
        margin: 0 auto 1em auto;
    }
}

.select-if-favorite-container {
    padding: 0.75em 0.75em 0em 0.75em;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    background: #fff;
    box-shadow: #999999 0px 1px;

    h2 {
        font-size: 1.2em;
    }

    p {
        margin: 0;
    }
}

.select-if-favorite {
  width: 20px;
  position: relative;
  left: 2.3em;
  top: -1.3em;
  margin: 0;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #F8F8F8;
    border-radius: 3px;
    border: 1px solid #A6A6A6;

    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #40B284;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
