.additional-info-container {
    margin-left: 0em;
    margin-top: 4em;
}

.next-button-container {
    text-align: center;
    margin-bottom: 3em;
}

.userProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

#threeOfFive {
    position: absolute;
    width: 60%;
    height: 100%;
    background: #3FB083;
    border-radius: 5px 0px 0px 5px;
}

.additional-info-container {
    margin-right: 1em;
    overflow-x: hidden;
}

@media only screen and (min-width: 600px) {
        .userProgress {
            width: 25em;
        }
}

@media only screen and (min-width: 700px) {
    .additional-info-container {
        margin-left: 0em;
        margin-top: 4em;
    }
}

@media only screen and (min-width: 960px) {
    .additional-info-container {
        margin-top: 0em;
        margin-left: 5em;
    }
}
