.confirmation-view-container {
    width: 25em;
    margin: 0 auto;
    background: #efefef;
    border-radius: 3px;
    padding: 1.25em 1.25em 1.25em 2.25em;
}

.back-to-dashboard {
    width: 15em;
    margin: 2em auto 0 auto;
    display: block;
}
