.confirmation-view-container {
    width: 90%;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    background: #fff;
    margin-top: 4em;
    margin: 4em auto 4em auto;
    box-shadow: #999999 0px 1px;
}

.back-to-dashboard {
    width: 13em;
    margin: 2em auto 3em auto;
    display: block;

    .fa-home {
        padding-left: .4em;
    }
}

.userProgress {
    position: relative;
    width: 50%;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

#fiveOfFive {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3FB083;
    border-radius: 5px 5px 5px 5px;
}

@media only screen and (min-width: 600px) {
    .confirmation-view-container {
        width: 28em;
        margin: 4em auto 2.5em auto;
    }
}

@media only screen and (min-width: 960px) {
    .confirmation-view-container {
        margin-top: 0em;
        margin: 4em auto 2.5em auto;
    }
}
