.confirmation-view-container {
    width: 28em;
    margin: 0 auto;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}

@media only screen and (min-width: 600px) {

    .confirmation-view-container {
        width: 28em;
        margin: 0em auto 2.5em auto;
    }
}

@media only screen and (max-width: 599px) {

    .confirmation-view-container {
        width: 90%;
        margin: 0em auto 2.5em auto;
    }
}

.back-to-dashboard {
    width: 15em;
    margin: 2em auto 0 auto;
    display: block;
}
