.confirmation-view-container {
    width: 28em;
    margin: 0 auto;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}

@media only screen and (min-width: 600px) {

    .confirmation-view-container {
        width: 28em;
        margin: 0em auto 2.5em auto;
    }
}

@media only screen and (max-width: 599px) {

    .confirmation-view-container {
        width: 90%;
        margin: 0em auto 2.5em auto;
    }
}

.back-to-dashboard {
    width: 13em;
    margin: 2em auto 0 auto;
    display: block;
}

.userProgress {
    position: relative;
    width: 50%;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

#fiveOfFive {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3FB083;
    border-radius: 5px 5px 5px 5px;
}
