.confirmation-view-container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}

.back-to-dashboard {
    width: 15em;
    margin: 2em auto 0 auto;
    display: block;
}
