#order-total {

    h2 {
        text-align: left;
    }
}

.next-button-container {
        width: 28em;
        margin: 2em auto 2em auto;
}

.order-total-table {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #E4E4E4;
    background: #fff;
    border-collapse: collapse;
}

@media only screen and (min-width: 600px) {
    #order-total {
        max-width: 28em;
        margin: 0 auto;
    }

}
