@media only screen and (min-width: 600px) {
    #order-total {
        width: 18em;
        margin: 0 auto;
    }

}
.next-button-container {
        width: 28em;
        margin: 2em auto 2em auto;
}

.order-total-table {
    margin: 0 auto;
}
