@media only screen and (min-width: 600px) {
    #order-total {
        width: 28em;
        margin: 0 auto;
    }

}

#order-total {

}

.next-button-container {
        width: 28em;
        margin: 2em auto 2em auto;
}

.order-total-table {
    margin: 0 auto;
    width: 100%;
    border: 2px solid #E4E4E4;
    border-collapse: collapse;
}
