.shop-list-item-container {
    background: #efefef;
    width: 20em;
    padding: 0em 1.2em 1.4em 1.2em;
    border-radius: 3px;
    margin: 0 auto 1.2em auto;

    &:hover {
        background: lighten(#efefef, 2%);
        cursor: pointer;
    }
}

.shop-list-item-details {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
}

.shop-list-item-details h2 {
    color: #000;
}

.shop-list-item-details p {
    color: #000;
}

.shop-list-distance {
    display: inline-block;
    float: right;
    margin: 0;
}

.open-now {
    display: inline-block;
    color: #3FB083;
}

.closed-now {
    display: inline-block;
    color: #A73232;
}

.shop-list-bottom-row {
    padding-top: 1em;
}
