nav.main-nav{
    width: 90%;
    margin: 0 auto 3em auto;
    text-align: center;
}

nav.main-nav ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

nav.main-nav ul li {
    display: inline-block;
    padding: 0.75em;
    border: 1px solid #1987FE;
    border-radius: 5px;
    margin-right: 5px;

    &:hover {
        // border: 1px solid #000;
        color: #000;
    }

}

.router-link {
    font-size: 0.85em;
    text-decoration: none;
    color: #1987FE;
}


.center-wrap {
    width: 520px;
    margin: 0 auto;
}

.next-button {
    margin: 1em 0 0 0;
    text-align: center;
    padding: 1.2em 3em;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    background: #3879D9;
    color: #fff;


    &:hover {
        cursor: pointer;
        background: lighten(#3879D9, 3%);
    }

}
