.top-nav {
    display: none;
    position: fixed;
    background: #fff;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: right;
    box-shadow: 0px 1px 1px #efefef;

    .nav-links {

        ul {
           width: 100%;
           margin: 0 2em 0 0;
           padding: 0 0em 0 0;

           .router-link {
               font-size: 0.85em;
               text-decoration: none;
               color: #1987FE;

              li {
                  display: inline-block;
                  font-size: 16px;
                  padding: 0.75em 1em 0.75em 0.75em;
                  border-radius: 5px;
                  margin-right: 5px;
                  color: #8F8F8F;

                  &:hover {
                      color: #333333;
                  }

                  .fa-sign-out {
                  }
              }
           }
       }
    }
}

.side-nav {
    width: 5em;
    height: 100%;
    background: #3E474F;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5.5em;

    .nav-logo {
        position: absolute;
        left: 1.4em;
        top: 0.6em;

        img {
            width: 2em;
        }
    }

    .side-nav-divider {
        background: darken(#ABACB0, 25%);
        width: 3em;
        height: 2px;
        margin-left: 1em;
        margin-top: 1em;
    }

    .fa-clock-o, .fa-heart, .fa-home, .fa-sign-out {
        color: #ABACB0;
        padding: 0.7em;

        &:hover {
            color: lighten(#ABACB0, 7%);
        }
    }

    .fa-sign-out {
        position: absolute;;
        bottom: 4em;
        left: 0;
    }
}

.center-wrap {
    width: 520px;
    margin: 0 auto;
}

.next-button {
    margin: 1em 0 0 0;
    text-align: center;
    padding: 1.2em 3em;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    background: #3879D9;
    color: #fff;

    &:hover {
        cursor: pointer;
        background: lighten(#3879D9, 3%);
    }

    .fa-arrow-right, .fa-check, .fa-pencil {
        padding-left: 0.4em;
    }
}

.main-wrap {
    padding: 1em;
}

.title-cover {
    padding: 2em;
    min-height: 6em;
    margin-bottom: 1em;

    h1 {
        color: #262933;
    }
}
