nav.main-nav{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

nav.main-nav ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

nav.main-nav ul li {
    display: inline-block;
    padding: 1em;
    background: #1987FE;
    border-radius: 5px;
    margin-right: 5px;

}

.router-link {
    text-decoration: none;
    color: #fff;
}

.next-button {
    margin-top: 1em;
    padding: 1.2em 3em;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    background: #3879D9;
    color: #fff;

    &:hover {
        cursor: pointer;
    }

}
