@media only screen and (min-width: 600px) {

    .menu-section {
        width: 21em;
        margin: 0em auto 2.5em auto;
    }
}

@media only screen and (max-width: 599px) {

    .menu-section {
        width: 95%;
        margin: 0em auto 2.5em auto;
    }
}



.divider {
    width: 100%;
    border-bottom: 1px solid black;
}
