.drink-item {
    margin-bottom: 1.2em;
    background: #eee;
    select {
        margin-right: 0.5em;
    }
}

.item-price {
    display: inline-block;
    padding-left: 2em;
}

.item-top-row {
    margin-bottom: 0.5em;
}
